<div class="row">
  <div class="fitter">
    <div>
      <product-filter [category]="category"></product-filter>
    </div>
    <div class="search">
        <form class="form-inline">
          <input
          #query
          (keyup)="filter(query.value)" 
          class="form-control mr-sm-2" 
          type="search" placeholder="Search" aria-label="Search">
          <i class="fas fa-search"></i>
        </form>
    </div>
  </div>
  <div>
    <app-banner></app-banner>
  </div>
  <div>
  </div>

   <div class="row" *ngIf="cart$ | async as cart">
     <ng-container *ngFor="let p of filteredProducts; let i = index">
       <div class="col">
          <product-card [product]="p" [shopping-carts]="cart"></product-card>
       </div>
      <div *ngIf="(i + 1) % 5 === 0" class="w-100"> </div>
    </ng-container>
   </div >
</div>


